body {
  background-color: rgb(0, 0, 0);
  background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
  background-size: 100px;
  background-repeat: repeat;
  height: 100vh;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}
