body {
  background-color: rgb(0, 0, 0);
  background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
  background-size: 100px;
  background-repeat: repeat;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
}
form {
  position: absolute;
  box-shadow: 0 0 50px rgb(0, 106, 255);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1/1.2;
  max-height: 550px;
  min-height: 500px;
  min-width: 350px;
  display: grid;
  grid-template-rows: repeat(1, 0fr);
  gap: 5%;
}
@media screen and (orientation: portrait) {
  form {
    height: 90%;
  }
}

@media screen and (orientation: landscape) {
  form {
    width: 40%;
  }
}
h1 {
  text-align: center;
  font-size: 2.5em;
}
fieldset {
  border-radius: 5px;
  margin: 0 15px;
  transition: border 0.3s ease-in-out;
  border: 3px solid;
  border: 3px solid rgb(0, 106, 255);
}
fieldset:focus-within {
  border: 3px solid rgb(0, 69, 165);
  transition: border 0.3s ease-in-out;
}
legend {
  font-size: 1.2em;
  margin: 0 10px;
  padding: 0 5px;
}
input {
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
}
input:focus {
  outline: none;
}
input:-webkit-autofill {
  border: none !important;
  background-clip: padding-box !important;
  -webkit-text-fill-color: white !important; /* Ensure text color is visible */
  transition: background-color 5000s ease-in-out 0s; /* Prevent sudden color changes */
}
button {
  font-size: 2em;
  position: grid;
  border-radius: 5px;
  margin: 0 15px;
  width: calc(100% - 30px); /* Adjust width to account for form padding */
  border: none;
  background-color: rgb(0, 106, 255);
  color: rgb(222, 233, 252);
  box-sizing: border-box; /* Ensure padding is included in width calculation */
  transition: background 0.3s;
}
button:hover {
  background-color: rgb(0, 69, 165);
  transition: background 0.3s;
  cursor: pointer;
}
button:active {
  background-color: rgb(1, 40, 95);
}
#login {
  text-align: center;
  font-size: 1.2em;
  padding: 0 0 50px 0;
}
#login a {
  color: rgb(0, 106, 255);
  text-decoration: none;
}
* {
  color: rgb(255, 255, 255);
}
